/* fonts */
/* font-family: 'Shadows Into Light Two', cursive; */
/* font-family: 'Montserrat', sans-serif; 300, 400, 900*/

@font-face {
  font-family: thesunset;
  src: url(/fonts/the-sunset.ttf);
}

font-face {
  font-family: fontania;
  src: url(/fonts/fontania.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  overflow-x: hidden;
}

img {
  width: 100%; /* this ensures images never break their container */
  height: auto;
  /* overflow-x: hidden; */
}

body {
  font-family: 'Noto Sans HK', sans-serif;
  color: rgb(120,120,125);

}

 /* this overrides the default padding and margin on gridlex elements */
[class*=grid] {   margin: 0;  }
[class*=col]  {   padding: 0; }


/* ------------- Utility Classes --------------  */

.left     {  text-align: left;     }
.right    {  text-align: right;    }
.centered {  text-align: center;   }

.padded   {  padding: 5%;    }
.padded-1 {  padding: 1rem;  }
.padded-2 {  padding: 2rem;  }
.padded-sides {padding: 0% 2%;}
.padded-bottom {padding-bottom: 2%;}
.padded-top-nav {padding: 2% 0% 0% 0%;}
.padded-iconify {padding-top: 1.5%;}
.padded-top {padding-top: 5%;}
.padded-mob-non {padding-left: 3%;}
.capped-width { width: 80%; margin: auto;}


a {
  text-decoration: none;
  color: inherit;}

a:hover {color: #ebc8d0;}

p {color: rgb(120,120,125);}

h1 {
  font-family:  thesunset;
  font-size: 3rem;
  font-weight: lighter;
}

h2 {
  font-family: fontania, thesunset;
  font-size: 2rem;
  font-weight: lighter;}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  }

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: lowercase;}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: lowercase;}

.success a {color: #b4d8eb;}
.success h4 {
  font-family:  thesunset;
  text-transform: none;}

header h2 {
  text-transform: none;
  padding-top: 5%;
  color: rgba(120,120,125,0.6); }

  header h2:hover {
    color: rgb(120,120,125);
}

  header nav .bio:hover {
    background-image: url('/images/a2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(120,120,125);}

  header nav .music:hover {
    background-image: url('/images/a2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(120,120,125);}

  header nav .merch:hover {
    background-image: url('/images/a2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(120,120,125);}

  header nav .connect:hover {
    background-image: url('/images/a2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(120,120,125);}

    /* Hamburger Menu */
    .hamburger,
    .mobile-menu {
      display: none;
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      right:0;
      left:0;
      bottom: 0;
      background: linear-gradient(180deg,rgba(255,255,255,.8) 6%,rgb(235,200,208) 100%);
      padding: 16% 10% 10% 10%;
      z-index: 10;


    }
    .mobile-menu a {
      color: rgb(120,120,125);
      padding: 1rem;
      display: block;
      text-decoration: none;
      text-align: center;
    }

    .hamburger {
      top:0;
      right:0;
      z-index: 100;
      font-size: 4rem;
      padding:2%;
      margin: 3%;
      position: fixed;
      color: rgba(120,120,125,0.6);
      line-height: 0.3;

    }

.paper-bg h2 {margin-top: -5%;}
/* .paper-bg p {margin-top: 5%;}  */

/* .bg-brown-paper {background-image: url(/images/bg-brown.png);} */

header, padded-top {
  font-family: 'Zeyada', cursive;
  text-transform: uppercase;
  font-size: 1.2rem;}


header {
  background-image: url('images/torn-paper2-sm.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  margin:0;
  padding: 1%;
  text-align: center;
  }

  footer {background-color: #ebf8ff;}
  .sub-footer {background-color: transparent;}

.small-font {font-size: 0.8rem;}


  .iconify {
    font-size: 2.5rem;
    padding: 2% 2% 0% 0%;}

  .column {text-align: left;}
  .column img{margin-top: 10%;}

  .banner {
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    margin-top: -10%;
    /* background-attachment: fixed; */
  }
  .paper-pg {
    background-color: rgba(226,227,227,1);
    background-size: cover;
    background-position:bottom;
    min-height: 100vh;
    margin-top: -10%;}

  .paper {
    background-image: url('images/bg-paper.png');
    background-color: rgba(226,227,227,1);
    background-size: cover;
    background-position:top;
    min-height: 100vh;
  }

  .music-pg {
    background-color: #f1f1f1;
    background-size: cover;
    background-position:bottom;
    margin-top: -10%;
  }

  .banner-merch{
    background-size: contain;
    background-position: center;}

  .banner-merch-product {  background-size: cover;}


  .polaroids1
  {transform: rotate(-7deg);
  z-index: -2;}
  .polaroids2
  {transform: rotate(7deg);
    z-index: -2;}
  .polaroids3{}
  .polaroids4
  {transform: rotate(7deg);
    z-index: -2;}
  .polaroids5
  {transform: rotate(-7deg);
    z-index: -2;}

  .cd {
    padding-top: 4%;
    padding: 5%;
  }


 .newsletter {
   background-size: cover;
   background-position: center;
  }

  .newsletter h4 {
    font-family: 'Zeyada', cursive;
    transform: rotate(-7deg);
    font-size: 3rem;
  }

 .bg-image-mob-banner {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
 }

 .light-bg {background-color: white;}

 .cover img {transform: rotate(358deg);}

 .button {
   font-family: 'Zeyada', cursive;
   border: solid 0.5px black;
   text-decoration: none;
   color: black;
   padding: 0.6rem 2rem;
   margin-top: 1rem;
   display: inline-block;
   text-transform: uppercase;
   font-size: 0.9rem;
   font-weight: 500;
   border-radius: 50px;
   background-color: #ebc8d0;}

   .button:hover {
     background-color: #b4d8eb;
    transition: all 1s;
    color: black;}

    .card {
      padding: 2rem;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .blog-masonry {
    columns: 4;
    column-gap: 0;}

    .blog-masonry .masonry-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;}

    .shop-item .card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 10%);
    padding: 0;}

    .shop-item img, .shop-item video, .slick-compare-loop .card img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;}

    .product-price {
    color:  #ebc8d0;}

  .tape img {
    width: 50%;
    -ms-transform: translateY(-52%);
    transform: translateY(52%);
    margin-left: 25%;
    }

    .tape-products img {
      width: 50%;
      -ms-transform: translateY(-52%);
      transform: translateY(52%);
      margin-left: 25%;
      }

    .card .author {
      font-weight: bold;
      margin-bottom:0;
    }

    .card .company {
      margin-bottom: 2rem;
    }

    .company {margin-bottom: 2rem;}

    /* ----- FORMS --------------------------- */

  /* fancy form */
  .textarea {
      min-height: 6rem;}

  .v-light-bg {
      background-color: #f8f6f4;}

  .capped-width {
      max-width: 1100px;
      margin: auto;}

  .relative {
      position: relative;}

  .sm-bold {
      font-size: 2.5rem;}

  .floating-input {
        position: relative;
        padding-top: 1rem;
        margin-bottom: 2rem;
      }

      .input-text {
        font-size: 1rem;
        line-height: 1.2;
        display: block;
        margin: 0;
        width: 100%;
        border: none;
        border-bottom: 1.1px solid #5f5a5a;
        transition: all .5s;
        padding: .7rem 0 .5rem;
        background-color: rgba(0,0,0,0);
        font-family: 'Montserrat', sans-serif;}

    .input-label {
      display: block;
      position: absolute;
      top: 0;
        font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: .8rem;
      letter-spacing: 1px;
      color: #5a5a5a;   }

    .enquiry textarea {
        resize: none;}

    .enquiry input {
        font-family: 'Montserrat', sans-serif;
      }

    .input-text:placeholder-shown+.input-label {
      visibility: hidden;
      z-index: -1;}

      .enquiry input {
    font-family: 'Montserrat', sans-serif;
  }
  input[type=submit] {
      width: auto;
      display: block;
  }


  .button-solid {
      background-color: #ebc8d0;
      color: #fff;
      border: 1px solid #ebc8d0;
      padding: .8rem 2rem .6rem;
  }

  .button-solid:focus {
    background-color: #b4d8eb;
    color: white;
    border: 1px solid #b4d8eb;}

    .button-solid:hover {
      background-color: #b4d8eb;
      color: white;
      border: 1px solid #b4d8eb;}

  element.style {display: none;
  }

  .enquiry input {
      font-family: 'Montserrat', sans-serif;}

    input,
    textarea {
      border-style: solid;
      border: 2px solid rgb(200, 200, 205);
      padding: 0.8em;
      display: block;
      width: 100%;
      font-size: 1rem;
      vertical-align: top;
    }
    .input-text:focus {
    border-color:  #ebc8d0;}

    input:focus, textarea:focus {
      outline: 0;
      border: 2x solid #fff;}

    /* merch   */

    .back-button {
    font-family: 'Zeyada', cursive;
    color: #787882;
    padding: .5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;}

    .compare-at-price {
        text-decoration: line-through;
        color: #b4b4be;
        padding-right: 1rem;}

  .fixed {position: fixed;}



  @media(min-width:769px){
    .desktop-hide {display: none;}
  }
  /* This media query kicks into action at the gridlex sm breakpoint */
  @media(max-width:768px) {

    header {
      background-image: none;
      background-color: transparent;
      height: 0px;
      z-index: 100;
      padding: 0%;
      }

    header h2 {font-size: 1rem;}

    h4 {font-size: 1.3rem;}


    .mob-hide {
      display: none;
      }

    .hamburger {
      display: block;
      font-size: 3rem;
      right: 15px;
    }

  .active {color: #b4d8eb;

    }

  .iconify {font-size: 2rem;}
  .banner {
    background-image: url('/images/banner-mob.jpg');
    min-height: 130vh;
    margin-top: 0%;}

  .music-pg {margin-top: 0%;}

  .sm-bold {
    font-size: 2rem;}

  .input-text {
    font-size: 1rem;}
    .blog-masonry {
    columns: 2;
    column-gap: 0;}
  }

  /* This media query kicks into action at the gridlex xs breakpoint */
  @media(max-width:425px) {
    .banner {
      background-image: url('/images/banner-mob.jpg');
      min-height: 50vh;
  }


  .polaroids1
  {transform: rotate(-2deg);
    z-index: -2;}

  .polaroids2
  {transform: rotate(2deg);
    z-index: -2;}
  .polaroids3{}
  .polaroids4
  {transform: rotate(2deg);
    z-index: -2;}
  .polaroids5
  {transform: rotate(-2deg);
    z-index: -2;}

  .banner-merch {
    background-image: url(/images/cover.jpg);
    background-size: contain;
    background-position: center;}

  .hamburger {
    display: block;
    font-size: 2rem;
  }

h1 {font-size: 2rem;}

h4 {font-size: 1.3rem;}
.blog-masonry {
columns: 1;
column-gap: 0;}

.small-font {
    font-size: 0.6rem;
}

.tape img {
   width: 100%;
   margin-left: 0%;
   transform: translateY(59%)}

.tape-products img { width: 100%;
 margin-left: 0%;
 transform: translateY(59%)}

}
