<!DOCTYPE html>
<html>
<head>

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- Lisette Munroe | Musician -->">

  <!-- end of meta tags -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900&display=swap" rel="stylesheet"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap" rel="stylesheet">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

    <!-- iconify  -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <!-- Magnific Popup for lightbox galleries   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <!-- slider -->
    <link rel="stylesheet" href="/slick/slick.css"/>
    <link rel="stylesheet" href="/slick/slick-theme.css"/>

    <!--  Javascript for the buy button -->


<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'shop-mariefeandjakesnow.myshopify.com',
      storefrontAccessToken: 'd90d61154f90d1257966ef7aac2a1c1e',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '4360618344491',
        node: document.getElementById('product-component-4360618344491'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "events": {
        "addVariantToCart": function (product) {
            dataLayer.push({
              'event': 'addToCart',
              'ecommerce': {
                'currencyCode': 'USD',
                'add': {
                  'products': [{
                    'name': 'Ultimate Mobile Pack',
                    'id': product.id,
                    'price': parseFloat('$19.95'.replace('$', '')),
                    'quantity': 1
                  }]
                }
              }
            });
        },
        "updateQuantity": function (product) {
            console.log('Update Quantity')
            console.log(product)
        },
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        },
        "text-align": "left"
      },
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "cart": {
    "events": {
       "openCheckout": function (cart) {
           console.log('OpenCheckout')
           console.log(cart)
       },
       'updateItemQuantity': function (cart) {
           console.log('Updatet Line Item Quantity')
           console.log(cart)
       },
    },
    "styles": {
      "button": {
        "font-family": "p22-underground, sans-serif",
        ":hover": {
          "background-color": "#ab8b78"
        },
        "background-color": "#be9a85",
        ":focus": {
          "background-color": "#ab8b78"
        },
        "border-radius": "1px"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "header": {
        "color": "#4c4c4c"
      },
      "lineItems": {
        "color": "#4c4c4c"
      },
      "subtotalText": {
        "color": "#4c4c4c"
      },
      "subtotal": {
        "color": "#4c4c4c"
      },
      "notice": {
        "color": "#4c4c4c"
      },
      "currency": {
        "color": "#4c4c4c"
      },
      "close": {
        "color": "#4c4c4c",
        ":hover": {
          "color": "#4c4c4c"
        }
      },
      "empty": {
        "color": "#4c4c4c"
      },
      "noteDescription": {
        "color": "#4c4c4c"
      },
      "discountText": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "discountAmount": {
        "color": "#4c4c4c"
      }
    },
    "text": {
      "notice": "Discount codes are added at checkout."
    },
    "popup": false,
    "googleFonts": [
      "Open Sans"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "p22-underground, sans-serif",
        "background-color": "#be9a85",
        ":hover": {
          "background-color": "#ab8b78"
        },
        ":focus": {
          "background-color": "#ab8b78"
        }
      }
    },
    "googleFonts": [
      "Open Sans"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#4c4c4c"
      },
      "title": {
        "color": "#4c4c4c"
      },
      "price": {
        "color": "#4c4c4c"
      },
      "fullPrice": {
        "color": "#4c4c4c"
      },
      "discount": {
        "color": "#4c4c4c"
      },
      "discountIcon": {
        "fill": "#4c4c4c"
      },
      "quantity": {
        "color": "#4c4c4c"
      },
      "quantityIncrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityDecrement": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      },
      "quantityInput": {
        "color": "#4c4c4c",
        "border-color": "#4c4c4c"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>

    <!-- our own custom stylesheet -->
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <header class="grid-center centered sticky">
    <div class="col-3">
      <a href="/">
        <h2 class="logo"> Lisette Munro </h2>
      </a>
    </div>
    <nav class="col-6 padded-top-nav center">
      <a href="/#bio" class="padded-sides bio"> My bio </a>
      <a href="/music" class="padded-sides music"> my music</a>
      <a href="/merch" class="padded-sides merch"> merch </a>
      <a href="/contact" class="padded-sides connect"> connect </a>
    </nav>

    <div class="col-2-middle padded grid centered fixed desktop-hide">
      <div>
        <p class="hamburger">⋯</p>
      </div>
    <!-- only opens with mobile-menu -->

      <div class='grid-center page-nav mobile-menu'>
        <p class="cross">╳</p>
        <a  href="/">home <br></a>
        <a  href="/services">services <br></a>
        <a  href="/clients">clients <br></a>
        <a  href="/clients#reviews">reviews <br></a>
        <a  href="/contact">contact</a><br>
        <p class="right menu-p">we code websites for her.</p>
      </div>
    </div>
  <div class="col-3 padded-iconify">
    <a href="#"> <span class="iconify padded-top" data-icon="ph:spotify-logo-light" data-inline="false"></span> </a>
    <a href="#"> <span class="iconify" data-icon="ph:instagram-logo-light" data-inline="false"></span> </a>
    <a href="#"> <span class="iconify" data-icon="tabler:brand-tiktok" data-inline="false"></span> </a>
    <a href="#"> <span class="iconify" data-icon="ph:youtube-logo-light" data-inline="false"></span> </a>
  </div>
  </header>

<body>
  <section class="grid-center shop-details light-bg">
    <div class="left padding-0">
      <button class="back-button mob-hide"> <a href = "javascript:history.back()">&lt;  Go Back</a></button>
    </div>
    <div class="grid-centered padded-sides">
    <div class="col-4_md-6_sm-12 relative">
      <span class="tape"><img src="/images/tape.png" alt=""></span>
    <img src="{{page.product_image}}" alt="">
    </div>
    <div class="col-5_md-6_sm-12 padded-top padded-sides">
      <h1>{{page.product-name}} </h1>
      <h6>{{page.colors}}</h6>
      <div class="has-image shopify-buy__layout-vertical shopify-buy__product"><div class="shopify-buy__btn-wrapper" data-element="product.buttonWrapper"><button class="shopify-buy__btn  " data-element="product.button">Add to cart</button></div></div>
    </div>
    </div>
  </section>
  <div id='product-component-1617448408948'></div>

  <footer>
      <div class="col-12 centered sub-footer dark-bg">
        <p class="small-font "> <a href="https://kingcode.uk/" target="_blank"> website by King Code </a>
         <a href="https://socialmediaretreat.org/"> © socialmediaretreat.org </a> <a href="/policy"> policies </a>
      </p>
    </div>
  </footer>

</body>
